---
import { getCollection } from "astro:content";
import { type CollectionEntry } from "astro:content";
import Prose from "@components/Story/Prose.astro";
import StoryHeader from "@components/Story/StoryHeader.astro";
import { getThemeColors } from "@lib/theme";

interface Props {
  storyEntry: CollectionEntry<"story">;
  animalEntry: CollectionEntry<"animal">;
}

const { storyEntry, animalEntry } = Astro.props as Props;

const { Content, headings } = await storyEntry.render();

const nextStory = (
  await getCollection("story", ({ data }) => {
    return (
      data.animal.id === storyEntry.data.animal.id &&
      data.chapter === storyEntry.data.chapter + 1
    );
  })
)[0];

const previousStory = (
  await getCollection("story", ({ data }) => {
    return (
      data.animal.id === storyEntry.data.animal.id &&
      data.chapter === storyEntry.data.chapter - 1
    );
  })
)[0];

const themeColors = getThemeColors(animalEntry.data.habitat);

const continueText = !nextStory ? "...the end" : "Continue reading";
---

<StoryHeader animal={animalEntry} story={storyEntry} />

<Prose>
  <Content />
</Prose>
<nav
  aria-label="chapter navigation"
  class={`p-8 my-12 rounded-lg ${themeColors.fadedBackground}`}
>
  <h2 class={`text-center ${themeColors.primaryText} font-bold text-lg mb-4`}>
    {continueText}
  </h2>
  <ul class="flex justify-center gap-4">
    {
      previousStory && (
        <li>
          <a
            href={`/story/${previousStory.slug}`}
            class={`border-b ${themeColors.underline} border-spacing-4 ${themeColors.primaryText} font-medium hover:opacity-50 flex items-center`}
            rel="prev"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-5 w-5 rotate-180"
            >
              <path stroke="currentColor" d="m9 18 6-6-6-6" />
            </svg>
            Previous chapter
          </a>
        </li>
      )
    }
    {
      nextStory && (
        <li>
          <a
            href={`/story/${nextStory.slug}`}
            class={`border-b ${themeColors.underline} border-spacing-4 ${themeColors.primaryText} font-medium hover:opacity-50 flex items-center`}
            rel="next"
          >
            Next chapter
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-5 w-5"
            >
              <path stroke="currentColor" d="m9 18 6-6-6-6" />
            </svg>
          </a>
        </li>
      )
    }
  </ul>
</nav>
