---
import { getCollection } from "astro:content";
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Chevron from "@assets/icons/chevron.svg";
import Prose from "@components/Story/Prose.astro";
import StoryHeader from "@components/Story/StoryHeader.astro";
import { getPrimaryTextColor, getUnderlineColor } from "@lib/theme";

interface Props {
  storyEntry: CollectionEntry<"story">;
  animalEntry: CollectionEntry<"animal">;
}

const { storyEntry, animalEntry } = Astro.props as Props;

const { Content, headings } = await storyEntry.render();

const nextStory = (
  await getCollection("story", ({ data }) => {
    return (
      data.animal.id === storyEntry.data.animal.id &&
      data.chapter === storyEntry.data.chapter + 1
    );
  })
)[0];

const previousStory = (
  await getCollection("story", ({ data }) => {
    return (
      data.animal.id === storyEntry.data.animal.id &&
      data.chapter === storyEntry.data.chapter - 1
    );
  })
)[0];

const primaryTextColor = getPrimaryTextColor(animalEntry.data.habitat);
const underlineColor = getUnderlineColor(animalEntry.data.habitat);

const continueText = !nextStory ? "...the end" : "Continue reading";
---

<StoryHeader animal={animalEntry} story={storyEntry} />

<Prose>
  <Content />
</Prose>
<nav aria-label="chapter navigation" class="p-8 my-12 rounded-lg">
  <h2 class={`text-center ${primaryTextColor} font-bold text-lg mb-4`}>
    {continueText}
  </h2>
  <ul class="flex justify-center gap-4">
    {
      previousStory && (
        <li>
          <a
            href={`/story/${previousStory.slug}`}
            class={`border-b ${underlineColor} border-spacing-4 ${primaryTextColor} font-medium hover:opacity-50`}
            rel="prev"
          >
            <Image
              src={Chevron}
              alt=""
              class="inline-block w-4 h-4 rotate-180"
            />
            Previous chapter
          </a>
        </li>
      )
    }
    {
      nextStory && (
        <li>
          <a
            href={`/story/${nextStory.slug}`}
            class={`border-b ${underlineColor} border-spacing-4 ${primaryTextColor} font-medium hover:opacity-50`}
            rel="next"
          >
            Next chapter
            <Image src={Chevron} alt="" class="inline-block w-4 h-4" />
          </a>
        </li>
      )
    }
  </ul>
</nav>
